.interface-container
{ display: flex;
  flex-direction: row;
  padding: 20px;
}

.properties-list {
  width: 60%;
  margin-right: 20px;
}

.property-item {
  display: flex;
  align-items: center;
  background: #fff;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.property-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 20px;
}

.property-details {
  flex: 1;
}

.property-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.map-container {
  width: 40%;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
}
